.navbar {
  overflow: hidden;
  bottom: 25%;
  width: 100%;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  z-index: 1;
  
}

.navbar li:hover {
  cursor: pointer;
  color: rgb(196, 217, 255);
  /* border-bottom: 1px solid #000; */
  margin: 0 50px;
  
}

ul li {
  text-decoration-color: #0000;
  transition: 0.5s;
  color: #000;
  font-weight: 600;
  font-size: 32px;
  /* padding: 5px 25px; */
  margin: 0 25px;
  
}

@media only screen and (max-width: 767px) {
    ul li {
      font-size: 40px;
      margin: 10% 0px;
  }
  
}


  


