

html, body {
    overflow-x: hidden;
  }
  body {
    /* position: relative; */
    font-family: 'Readex Pro', sans-serif;

  }


.section {
    height: 100vh;
    /* padding-top: 32px; */
}
.container {
    /* margin-top: 50px; */
    /* height: 500px; */
    border: 2px solid black;
}

.container h1 {
    font-size: 48px;
    text-align: center;
}
#home {
    background-image: url("../../public/gokul-images/building.jpeg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


#about {
    background-image: url("../../public/gokul-images/contact.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#contact {
    background: rgb(122,122,122);
    background: linear-gradient(180deg, rgba(122,122,122,1) 0%, rgba(77,77,77,1) 100%);

}


@media only screen and (max-width: 767px) {
    .section {
        padding-top: 15%;
    }
    .container {
        margin: 0;
    }
    .row .column {
        min-width: 0;
        margin: 0;
    }
  }