

html, body {
    overflow-x: hidden;
  }
  body {
    /* position: relative; */
    font-family: 'Readex Pro', sans-serif;

  }

.section {
    height: 100vh;
    padding-top: 32px;
}
.container {
    margin: 150px;
    height: 500px;
}

.container h1 {
    font-size: 48px;
    text-align: center;
}
#home {
    background-image: url("../../public/gokul-images/building.jpeg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about {
    background-color: dimgray;
}

#contact {
    background-color: rgb(59, 59, 59);
}


@media only screen and (max-width: 767px) {
    .container {
        margin: 0;
    }
  }