#carousel {
    margin: auto;
    padding: 10px 0px;
    width: 90%;
    background-color: black;
}

#carousel img {
    height: 300px;
    width: 100%;
}

#carousel h3 {
    margin: 0px 5px;
}

#carousel p {
    color: white;
    font-family: inherit;
    text-align: center;
    margin: 5px;
}

@media only screen and (max-width: 767px) {
    #carousel {
      width: 100%;
  }
  
}
